ul li.checked{
    background:#ffffff;
    color:black;
    text-decoration: line-through;
}
.close{
    position: absolute;
    right:30%;
    cursor: pointer;
    border:1px solid black;
    background-color:red;
    border-radius: 3px;
}
ul li{
    cursor: pointer;
}

/*ul li.checked::before{
    position: absolute;
    border-color:black;
    border-style:solid;
    border-width: 0 2px 2px 0;
    left:5%;
    height:5px;
    width:5px;
}*/
.header{
    position:absolute;
    border:0 solid black;
    background-color:black;
    height: 10%;
    width:100%;
    color:grey;
}
#title{
    position: absolute;
    left:5%;
    top:15%;
    font-size:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.medium{
    position: absolute;
    top:10%;
    width:100%;
    height:20%;
}
#mediumtitle{
    position: absolute;
    left:25%;
    top:15%;
}
#input{
    position: absolute;
    top:60%;
    left:30%;
    width:35%;
    height:30px;
    font-size: 20px;
    border-radius:4px;
}
.medium .bttn{
    position: absolute;
    top: 60%;
    left:70%;
}
#bttn{
    background-color:rgb(30, 94, 190);
    width:40px;
    height: 35px;
    color:white;
    border-radius: 4px;
}
.list{
    position: absolute;
    top:30%;
    height: 100%;
    width: 100%;
}
#myList{
    position: relative;
    top:10%;
    left:10%;
    font-size:30px;
    color:black;
}


