<ng-container *ngIf="!logged">
  <div class="logging">
    <h1 style="color:rgb(54, 48, 143,1);padding-left:15px ">WELCOME!</h1>
    <div><input id="btnoflog" type="text" [(ngModel)]="login" ></div>
    <div><input id="btnoflog" type="password" [(ngModel)]="password" ></div>
    <div><button id="authbtn" (click)="auth()">Log in</button></div>
  </div>  
</ng-container>

<ng-container *ngIf="logged">
  <div class="static">
    <h3 style="padding-left:70px;color:rgb(54, 48, 143,1)">CREATE TASKLIST</h3>
    <br>
    <input id="field" type="text" [(ngModel)]="name" />
    <br>
    <button id="btns" (click) = "createTaskList()" >CREATE</button>
    <button id="btns" (click)="back()">BACK</button>  
    <button id="btns" (click)="logout()">LOG OUT</button>
  </div>

 <ng-container *ngIf="backclicked">
  <ng-container *ngIf="!showtasks"> 
    <h3 style="padding-left:670px;color:rgb(54, 48, 143,1);padding-top:10px">TASKLIST</h3>

  <ng-container *ngIf="!loading">
   <h4 syle="position:relative;padding-left:700px">LOADING...</h4>
  </ng-container>

  <ng-container *ngIf ="loading" >

      <div class="tasklists">
          <div *ngFor = "let l of tasklist">
              <span (click) = "getTasks(l)" >
                <input id="fortasklists"type="text" [(ngModel)] = "l.name">  
              </span>
              <span id="events" style="color: brown; font-size: 20px" (click) = "deleteTaskList(l)" > DELETE</span>
              <span id="events" style="color: green; font-size: 20px" (click) = "updateTaskList(l)" > EDIT</span>
              <span id="events" style="color:blueviolet;font-size: 20px" (click)="getTasks(l)"> TASKS</span>
              
            </div>
      </div> 
  </ng-container>
 </ng-container>
    
  <br>

</ng-container>

 </ng-container>
<ng-container *ngIf="!backclicked">
  <ng-container *ngIf="showtasks">
    <h3 style="padding-left: 680px ;color:rgb(54, 48, 143,1)">TASKS:</h3>

    <div class="tasks">
      <div *ngFor = "let p of tasks"> 
          <span (click) = "getTasks(l)" >
              <input id="fortasklists"type="text" [(ngModel)] = "p.name">  
            </span>
            <span id="events" style="color: brown; font-size: 20px" (click) = "deleteTaskList(l)" > DELETE</span>
            <span id="events" style="color: green; font-size: 20px" (click) = "updateTaskList(l)" > EDIT</span>
            <span id="events" style="color:blueviolet;font-size: 20px" (click)="getTasks(l)"> TASKS</span>
      </div>
    </div>
</ng-container>
</ng-container>

